<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <RunConfiguration>
    <ResultsDirectory>.\TestResults</ResultsDirectory>
    <TargetFramework>net8.0</TargetFramework>
  </RunConfiguration>
  
  <!-- Filter to exclude integration tests -->
  <TestRunParameters>
    <Parameter name="TestCategory" value="Unit" />
  </TestRunParameters>
  
  <!-- Use DataCollector for code coverage -->
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>cobertura</Format>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
